html, body {
    
    height: 100%;
    font-family: Arial;
    width: 100%;
    position: relative;
    background-color: #EEEEEE;
}

*:focus {
    outline: 0;
}


#all {
    
    position:relative;
    min-height:100%;
    min-width: 960px;
}

.content {
    padding-bottom: 128px;
}

.noline:hover {
    
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    
    text-decoration: underline;
}
